!backend/.env.example
# ===== 发布/备份 =====
# ===== 后端 =====
# ===== 前端 =====
# ===== 全局 =====
**/.DS_Store
*.iml
*.ipr
*.iws
*.pem
.DS_Store
.git-rewrite/
.idea/
.vscode/
backend/.env
backend/.env.*
backend/.mvn/wrapper/maven-wrapper.jar
backend/target/
db_backup/
frontend/.dart_tool/
frontend/.flutter-plugins-dependencies
frontend/.pub/
frontend/.pub-cache/
frontend/android/.gradle/
frontend/android/app/chronoflow.keystore
frontend/android/app/debug
frontend/android/app/libs/*.aar
frontend/android/app/profile
frontend/android/app/release
frontend/build/
frontend/coverage/
frontend/ios/Flutter/.last_build_id
frontend/ios/Pods/
frontend/ios/Runner/FaceVerifyPlugin.swift
local.properties
release/
start-prod.sh
uploads/
web/node_modules/
XAXINAN.pem