# ===== 鍏ㄥ眬 =====
.idea/
*.iml
*.iws
*.ipr
.DS_Store
**/.DS_Store
.vscode/

# ===== 鍚庣 =====
backend/target/
backend/.env
backend/.env.*
!backend/.env.example
backend/.mvn/wrapper/maven-wrapper.jar

# ===== 鍓嶇 =====
frontend/.dart_tool/
frontend/build/
frontend/.flutter-plugins-dependencies
frontend/.pub-cache/
frontend/.pub/
frontend/coverage/
frontend/android/.gradle/
frontend/android/app/debug
frontend/android/app/profile
frontend/android/app/release
frontend/android/app/libs/*.aar
frontend/ios/Runner/FaceVerifyPlugin.swift
frontend/ios/Pods/
frontend/ios/Flutter/.last_build_id
start-prod.sh
frontend/android/app/chronoflow.keystore
frontend/android/app/chronoflow.keystore
web/node_modules/

# ===== 鍙戝竷/澶囦唤 =====
release/
db_backup/
uploads/
local.properties
start-prod.sh
XAXINAN.pem
*.pem
.git-rewrite/
